@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

.background {
    position: relative;
}

.text {
    top: 0;
bottom: 0;
margin: auto;
position: absolute;
left: 0;
right: 0;
text-align: center;
font-family: 'Poppins', sans-serif;

}

.judul{
    font-size: 60px;
    margin-top: 50px;

}

.title {
    font-size: 60px;
    text-align: center;
    color: #18A637;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 50px;
}

.slogan {
    font-size: 16px;
    text-align: center;
}

.kotak {
    border-radius: 5px;
    position: absolute;
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #FCFCFC;
    
}

.card {
    width: 900px;
    font-family: 'Poppins', sans-serif;
    margin-top: -40px;
    margin-left: 298px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px;


}

.kedua {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.berita {
    padding: 50px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
  }

li{
    list-style: none;
}

.geser {
    background-color: #18A637;
    padding-top: 120px;
    padding-bottom: 90px;
}

.isislider {
    margin-top: -40px;
}



@media (min-width: 1025px) {
    .h-custom-2 {
      height: 70%;
      }
    }

.garis{
    background-color:#A4A1A1;
    width: 1090px;
    height: 1.3px;
    margin-left: 20px;
    margin-top: 18px;
}

.jumbotron {
    padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #18A637;
  border-radius: .3rem;
  margin-top: 100px;
  padding-bottom: 170px;

}

.jumbotron img {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 1400px;
      height: 500px;
      padding:40px;
    }
.text2 {
    margin-top: -360px;
    text-align: center;

}
    

